<div class="field" id="consumerKey-field">
	<div class="heading">
		<label for="consumerKey">Consumer Key</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="consumerKey" id="consumerKey" value="{{ settings.consumerKey }}">
	</div>
</div>

<div class="field" id="consumerSecret-field">
	<div class="heading">
		<label for="consumerSecret">Consumer Secret</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="consumerSecret" id="consumerSecret" value="{{ settings.consumerSecret }}">
	</div>
</div>

<div class="field" id="sectionId-field">
	<div class="heading">
		<label for="sectionId">Section ID</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="sectionId" id="sectionId" value="{{ settings.sectionId }}">
	</div>
</div>

<div class="field" id="entryTypeId-field">
	<div class="heading">
		<label for="entryTypeId">Entry Type ID</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="entryTypeId" id="entryTypeId" value="{{ settings.entryTypeId }}">
	</div>
</div>

<div class="field" id="categoryGroupId-field">
	<div class="heading">
		<label for="categoryGroupId">Category Group Id</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="categoryGroupId" id="categoryGroupId" value="{{ settings.categoryGroupId }}">
	</div>
</div>

<div class="field" id="twitterUserIds-field">
	<div class="heading">
		<label for="twitterUserIds">Twitter User IDs</label>

		<div class="instructions">Comma separated list of user ids for all users whose accounts should be synced. Web services for translating a user's handle to id can be found e.g. <a href="http://gettwitterid.com/" target="_blank">http://gettwitterid.com/</a></div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="twitterUserIds" id="twitterUserIds" value="{{ settings.twitterUserIds }}">
	</div>
</div>
